.page {
  width: 360px;
  margin: auto;
  margin-top: 10em;

}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}
.form .input, .form .button {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .button {
  text-transform: uppercase;
  background: #4CAF50;
  margin: 0;
  color: #FFFFFF;
  cursor: pointer;
}
.form .button:hover,.form .button:active,.form .button:focus {
  background: #43A047;
}



