body {
  margin: 0;
  padding: 0;
  background-color: #d6d6d6;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.login-page {
  width: 360px;
  margin: auto;
  margin-top: 15em;

}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}
.form .input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .button:hover,.form .button:active,.form .button:focus {
  background: #43A047;
}

.error, .validate{
  text-align: center;

  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  font-size: 18px;
}
.error{
  color: rgb(165, 0, 0);

}

.validate{
  color : #43A047;
  
}