body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


span{
    font-weight: bold;

}

header{
    text-align: center;
}

#photo{
    width: 8em;
    border-radius: 5px;
}

section{

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5%;
    background-color: rgb(46, 46, 46);
    box-shadow: 7px 6px 10px 0px rgba(146, 1, 1, 0.75);
    padding: 0.15em;
    border-radius: 5px;
    
}
section ul{
    padding-left: 15%;
    
}

section h2 {
    padding-left: 5%;
    color: rgb(235, 144, 8);
}

footer{
    text-align: center;
    margin-top: 2%;
    font-weight: bold;
}
#anim{
    position: fixed;
    bottom: 0px;
    width:5em;
}