.tab {
  margin-top: 10em;
  background: #FFFFFF;
  margin: 5em;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

img {
  width: 2em;
}
table{
  width: 100%;
  border-spacing: 0px;
}
table td{
  text-align: center;
}
th, td {
  border-bottom: 1px solid #ddd;
}
tbody tr:hover {background-color: #e6e6e6;}
thead{
  background-color: #1a1a1a;
  color: #FFFFFF;
}

tr{
  height: 50px;
}

#edit, #del{
  cursor: pointer;
}